################### {Beat} Configuration Example #########################

############################# {Beat} ######################################

wmibeat-ohm2:
  # Defines how often an event is sent to the output
  period: 1s
